@font-face {
  font-family: "iconfont"; /* Project id 3496452 */
  src: url('iconfont.woff2?t=1658935168288') format('woff2'),
       url('iconfont.woff?t=1658935168288') format('woff'),
       url('iconfont.ttf?t=1658935168288') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gf-lock2:before {
  content: "\e9d8";
}

.icon-man:before {
  content: "\e62f";
}

.icon-gift1:before {
  content: "\e758";
}

.icon-jewelry:before {
  content: "\e759";
}

.icon-leftarrow:before {
  content: "\e75a";
}

.icon-map:before {
  content: "\e75b";
}

.icon-packaging:before {
  content: "\e75c";
}

.icon-phone:before {
  content: "\e75d";
}

.icon-play1:before {
  content: "\e75e";
}

.icon-print:before {
  content: "\e75f";
}

.icon-product:before {
  content: "\e760";
}

.icon-reduce:before {
  content: "\e761";
}

.icon-remind:before {
  content: "\e762";
}

.icon-return:before {
  content: "\e763";
}

.icon-rising1:before {
  content: "\e764";
}

.icon-Rightarrow:before {
  content: "\e765";
}

.icon-save:before {
  content: "\e766";
}

.icon-seleted:before {
  content: "\e767";
}

.icon-searchcart:before {
  content: "\e768";
}

.icon-service:before {
  content: "\e769";
}

.icon-sorting:before {
  content: "\e76a";
}

.icon-stop:before {
  content: "\e76b";
}

.icon-switch:before {
  content: "\e76c";
}

.icon-template:before {
  content: "\e76d";
}

.icon-Top:before {
  content: "\e76e";
}

.icon-warning:before {
  content: "\e76f";
}

.icon-toy:before {
  content: "\e770";
}

.icon-creditcard:before {
  content: "\e771";
}

.icon-contacts:before {
  content: "\e772";
}

.icon-aviation:before {
  content: "\e773";
}

.icon-invoice:before {
  content: "\e774";
}

.icon-insurance:before {
  content: "\e775";
}

.icon-usercenter:before {
  content: "\e776";
}

.icon-vip:before {
  content: "\e777";
}

.icon-exchangerate:before {
  content: "\e778";
}

.icon-add-account:before {
  content: "\e779";
}

.icon-add-cart-fill:before {
  content: "\e77a";
}

.icon-bad-fill:before {
  content: "\e77b";
}

.icon-bussiness-man-fill:before {
  content: "\e77c";
}

.icon-atm-fill:before {
  content: "\e77d";
}

.icon-certified-supplier-fill:before {
  content: "\e77e";
}

.icon-Customermanagement-fill:before {
  content: "\e77f";
}

.icon-Daytimemode-fill:before {
  content: "\e780";
}

.icon-good-fill:before {
  content: "\e781";
}

.icon-hot-fill:before {
  content: "\e782";
}

.icon-phone1:before {
  content: "\e787";
}

.icon-quick:before {
  content: "\e7a3";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-component:before {
  content: "\e6f2";
}

.icon-code:before {
  content: "\e6f3";
}

.icon-copy:before {
  content: "\e6f4";
}

.icon-dollar:before {
  content: "\e6f5";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-data:before {
  content: "\e6f9";
}

.icon-gift:before {
  content: "\e6fa";
}

.icon-integral:before {
  content: "\e6fb";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-play:before {
  content: "\e701";
}

.icon-rising:before {
  content: "\e703";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-rmb:before {
  content: "\e705";
}

.icon-similar-product:before {
  content: "\e707";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-sendinquiry:before {
  content: "\e70d";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-namecard-fill:before {
  content: "\e72a";
}

.icon-pic-fill:before {
  content: "\e72e";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-prompt-fill:before {
  content: "\e730";
}

.icon-stop-fill:before {
  content: "\e738";
}

.icon-column:before {
  content: "\e741";
}

.icon-add:before {
  content: "\e742";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-all1:before {
  content: "\e745";
}

.icon-arrow-up:before {
  content: "\e746";
}

.icon-ashbin:before {
  content: "\e747";
}

.icon-atm:before {
  content: "\e748";
}

.icon-bags:before {
  content: "\e749";
}

.icon-cart-full:before {
  content: "\e74a";
}

.icon-category:before {
  content: "\e74b";
}

.icon-close:before {
  content: "\e74c";
}

.icon-cart-Empty:before {
  content: "\e74d";
}

.icon-clock:before {
  content: "\e74e";
}

.icon-cut:before {
  content: "\e74f";
}

.icon-Customermanagement:before {
  content: "\e750";
}

.icon-customization:before {
  content: "\e751";
}

.icon-email:before {
  content: "\e752";
}

.icon-falling:before {
  content: "\e753";
}

.icon-earth:before {
  content: "\e754";
}

.icon-furniture:before {
  content: "\e755";
}

.icon-feeds:before {
  content: "\e756";
}

.icon-good:before {
  content: "\e757";
}

